<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <figure>
      <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>

    <%- include("./partials/header") %>
    <div class="container">
      <p>Bienvenidos a <%= title %></p>
      <img src= "https://br.web.img2.acsta.net/medias/nmedia/18/91/08/82/20128877.JPG" class="page-logo" alt="">
      <img src= "https://upload.wikimedia.org/wikipedia/pt/thumb/1/1b/Schoolrockposter.jpg/210px-Schoolrockposter.jpg", class="page-logo" alt="">
      <img src= "https://es.web.img3.acsta.net/pictures/22/11/02/15/37/0544148.jpg" class="page-logo" alt="">
      <img src= "https://centrocomercialcamaretas.com/wp-content/uploads/2022/10/joker.jpg" class="page-logo" alt="">
      <img src= "https://hips.hearstapps.com/hmg-prod/images/harry-potter-reliquias-muerte-2-1583238771.jpg" class="page-logo" alt="">
      <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOTkNeNMUWfB9uSjIxIosYA2N1zNZIskiyPDpLUW-bGA&s" class="page-logo" alt="">
      <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGFf8LY6I8jKX1oNt4nHxH9HG2TUsjxGtgi52T1N8IbQ&s" class="page-logo" alt="">
      <img src= "https://images.cdn2.buscalibre.com/fit-in/360x360/5f/30/5f30570ba80ea985abd0d8fcaeecc15a.jpg" class="page-logo" alt="">
      <img src= "https://es.web.img3.acsta.net/pictures/22/10/04/16/26/1929878.jpg" class="page-logo" alt="">
      <img src= "https://i.pinimg.com/736x/e8/04/33/e804333c704730c2c804a37e91a165e1.jpg" class="page-logo" alt="">
    </div>
   
    </a>
<script>src='../../public/js' </script>
  </body>
</html>
